@import url("https://fonts.googleapis.com/css?family=Open+Sans");
 html {
	 font-family: Arial;
	 font-size: 20px;
	 background: #4d6e17;
	 position: relative;
}

.srgt{
  margin-left: 10px;
  margin-top: 20px;
  position:fixed;
  width: 330px;
  height: 150px;
}






 .sidebar {
	 position: absolute;
	 width: 25%;
	 height: 100%;
	 background:linear-gradient(to right, #4d6e17, #609111);
	 font-size: 20px;

}








 .nav {
	 position: relative;
	 margin: 3nm 0;
	 text-align: right;
	 top: 50%;
	 transform: translateY(-50%);
	 font-weight: bold;
}
 .nav ul {
	 list-style: none;
}
 .nav ul li {
	 position: relative;
  	margin: 3em 0;
   	left: -20px;
}
 .nav ul li a {
	 line-height: 3em;
	 text-transform: uppercase;
	 text-decoration: none;
	 letter-spacing: 0.4em;
	 color: rgba(255, 255, 255, 0.35);
	 display: block;
	 transition: all ease-out 300ms;
}
 .nav ul li.active a {
	 color: white;
}
 .nav ul li:not(.active)::after {
	 opacity: 0.2;
}
 .nav ul li:not(.active):hover a {
	 color: rgba(255, 255, 255, 0.75);
}
 .nav ul li::after {
	 content: "";
	 position: absolute;
	 width: 100%;
	 height: 3px;
	 background: black;
   left: 0;
   bottom: 0;
   animation-name: bckg;
   animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	 background-image: bckg;
}


@keyframes bckg{
	0% {
		background: #960579;
	}
	25% {
		background: #9b2b85;
	}
	50% {
		background: #8d4d80;
	}
	75% {
		background: #92698a;
	}
	100% {
		background: #df9cd1;
	}
}



@keyframes txt{
	
	0% {
		color: #8d4d80;
	}
	50% {
		color: #92698a;
	}
	100% {
		color: #df9cd1;
	}
}



 .twitter  {
	 position: relative;
	 width: 75%;
	 float: right;
	 height: 100vh;
}


 .chat{
   position: fixed;
   height: 100%;
   width: 100%;
   
 }

 .block{
   position: absolute;
   z-index: 10000;
   width: 100%;
   height: 110px;
   border-width: 0.5%;
   border: darkgrey;
   border-style: solid;
   border-color: darkgrey;
   background:linear-gradient(to right, #609111, #4d6e17);
   border-left: none;
   border-top: none;
   border-right: none;
   
 }


.orb {
	animation: spin 4s linear infinite;
	width: 70px;
	height: 70px;
	margin: auto;
	margin-top: 20px;
	border-radius: 50%;
	box-shadow: inset 0 0 50px #d48cce, inset 20px 0 60px #37ac14, inset -20px 0 60px #f33ed2, inset 20px 0 300px #0a5703, inset -20px 0 300px #e20cb7, 0 0 50px #25bd5f, -10px 0 60px #960579, 10px 0 60px #e63fc7;
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
   }
}


.header{
	display: none;
}


 
@media only screen and (max-width: 800px) {
	.sidebar{
		display: none;
		
	}








	.twitter{
		
		width: 100%;
		
		
	}
	.chat{
		height: 100%;
		width: 100%;
		
		
		
	}
	.block{
		position: fixed;
		height: 105px;
		
	}

	.orb{

		
		pointer-events: none;
		

	}


	.header {
		background-color: linear-gradient(to right, #609111, #4d6e17);
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 100px;
		margin-top: 25px;
		
		
	  }

	  .srgtmob{
		  position: fixed;
		  z-index: 999999;
		  width: 100px;
		  height: 45px;
		  margin-top: 30px;
		
	  }
	

	
	  
	  .header ul {
		margin: 0;
		padding: 0;
		background-color:#4d6e17;
		list-style: none;
		overflow: hidden;
		border-width: 0.5%;
   
		
	  }
	  
	  .header li a {
		display: block;
		padding: 15px 50px;
		border-right: 1px solid #f4f4f4;
		text-transform: uppercase;
		
		font-weight: bold;
		letter-spacing: 0.25em;
		text-decoration: none;
		text-align: center;
		border: darkgrey;
   border-style: solid;
   border-color: darkgrey;
   animation-name: txt;
   animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	  }
	  
	  .header li a:hover,
	  .header .menu-btn:hover {
		background-color: linear-gradient(to right, #609111, #4d6e17);
	  }


	
	  
	  /* menu */
	  
	  .header .menu {
		 
		clear: both;
		max-height: 0;
		transition: max-height .2s ease-out;
	  }
	  
	  /* menu icon */
	  
	  .header .menu-icon {
		cursor: pointer;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		padding: 37px 50%;
		position: relative;
		user-select: none;
		margin: auto;
		
		
	  }
	  
	  .header .menu-icon .navicon {
		background: #4d6e17;
		display: block;
		height: 2px;
		position: relative;
		margin: auto;
		width: 18px;
	  }
	  
	  .header .menu-icon .navicon:before,
	  .header .menu-icon .navicon:after {
		background: #4d6e17;
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		transition: all .2s ease-out;
		width: 100%;
		margin: auto;
		
	  }
	  
	  .header .menu-icon .navicon:before {
		top: 5px;
	  }
	  
	  .header .menu-icon .navicon:after {
		top: -5px;
	  }
	  
	  /* menu btn */
	  
	  .header .menu-btn {
		display: none;
		float: center;
	  }
	  
	  .header .menu-btn:checked ~ .menu {
		max-height: 250px;
		float: center;
	  }
	  
	  .header .menu-btn:checked ~ .menu-icon .navicon {
		background: transparent;
		float: right;
	  }
	  
	  .header .menu-btn:checked ~ .menu-icon .navicon:before {
		transform: rotate(-45deg);
		float: right;
	  }
	  
	  .header .menu-btn:checked ~ .menu-icon .navicon:after {
		transform: rotate(45deg);
		float: right;
	  }
	  
	  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
	  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
		top: 0;
		float: right;
	  }







  }



 